// sass --watch public/styles/input.scss public/styles/main.css 

$black-blue:#0A1128;
$dark-blue:#001F56;
$cerulean: #034078;
$green: #2C8C99;
$white: #FEFCFB;
$section-padding: 22px;
$section-border: 3px;
$section-background: $white;
$section-margin: 3% 3% 0 3%;
html{
    scroll-behavior: smooth;
}
.container-fluid {
   padding: 0px;
}
h1, h2, p{
    font-family: 'Arimo', sans-serif;
}
h1{
    font-size:9.5rem;
    
}

header{
    height: 100vh;
    background-color:$white;
    #wrapper{
        text-align: center;
        padding-top: 30vh;
        #wrapper-inner{
            display: inline-block;
            
            h1{
                display: inline-block;
                margin: 0;
                white-space: nowrap;
                color:$black-blue;
            }
            h2{
                text-align: right;
                margin-top: -5rem;
                margin-right: 10px;
                color:$black-blue;
            }
        }
    }
}
.h1Anime {
    position: relative;
  }
  
  .h1Anime .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .h1Anime .letter {
    display: inline-block;
    line-height: 1em;
  }
main{
    background-color: $black-blue;
    padding-top: 1px;
}

  #about{
    
    margin: $section-margin ;

    .about__section{
        padding: $section-padding;
        border-radius: $section-border;
        background-color: $section-background;
    }
  }
  #experience{
    margin: $section-margin;
    .experience__section{
        border-radius: $section-border;
        padding: $section-padding;
        background-color: $section-background;
    }
  }
